body {
  width: 100%;
  height: 100vh;
  font: {
    family: "Roboto", sans-serif;

  }
  margin: 0;
  color: #efefef;
  section {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    .body_item {
      width: 33.333%;
      height: 100vh;
      box-sizing: border-box;
      //border: 1px solid #e1e1e1;
      padding: 0  ;
      text-align: center;
      position: relative;
      transition: 1s all;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      //box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
      h3 {
        font-weight: bold;
        z-index: 5;
        position: relative;
        //margin-top: 66%;
        transition: .9s all;
      }
      div {
        margin: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        filter: brightness(40%);
        z-index: 2;
      }
      p {
        font-weight: 300;
        position: relative;
        z-index: 5;
        margin: 80px 0 100px;
      }
      a {
        z-index: 5;
        font-size: 13px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: #efefef;
        border: 1px solid #9e9e9e;
        padding: 10px 25px;
        transition: all 0.3s ease-in-out;
        border-radius: 5px;
        display: block;
        width: max-content;
        margin: 0 auto;
        position: relative;
      }

    }
    .body_item:nth-child(1) div {

      background: {
        image: url("image/2.jpg");
        size: cover;
        position: center;
      }

    }
    .body_item:nth-child(2) div {
      background: {
        image: url("image/1.jpg");
        size: cover;
        position: center;
      }
      filter: brightness(30%);
    }
    .body_item:nth-child(3) div {
      background: {
        image: url("image/3.jpg");
        size: cover;
        position: center;
      }

    }

    .body_item:hover h3{
      transition: .9s all;
      font-size: 30px;
    }
  }
  //media

  @media (min-width: 1500px) {

  }

  @media (min-width: 1200px) and (max-width: 1500px) {

  }

  @media (min-width: 992px) and (max-width: 1200px) {

  }

  @media (min-width: 768px) and (max-width: 992px) {

  }

  @media (min-width: 540px) and (max-width: 768px) {
    section {
      flex-direction: column;
      .body_item{
        width: 100%;
        height: 100vh;
        min-height: 100vh;
        h3{
          //margin-top: 200px;
        }
      }
    }
  }

  @media (max-width: 540px) {
    section {
      flex-direction: column;
      .body_item{
        width: 100%;
        height: 100vh;
        min-height: 100vh;
        h3{
          //margin-top: initial;
        }
      }
    }
  }

}